*{
    box-sizing: border-box;
}

.container{
    padding-left: 160px;
    padding-right: 160px;
    padding-top: 50px;
}

.list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.list__item{
    border: 1px solid black;
    padding: 20px;
}